div{
    width:100px ;
    height:100px;
    margin: 100px;
    background-color: rgb(201, 109, 204);
    transform: skew(20deg,30deg);
    color: blanchedalmond;
}
div{
    width:100px ;
    height:100px;
    margin: 100px;
    background-color: rgb(201, 109, 204);
    transform:matrix(1.2,3,2,2.3,-1,1)
    color: blanchedalmond;
    
}
}